body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f5f5f5;
}

header {
  background-color: #333;
  color: white;
  padding: 15px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}


body {
  background-image: url('C:\Users\iuav1\Desktop\kulturelweb\kulturelgezi\public\background.jpg'); /* Resmin yolu */
  background-size: cover; /* Resmi ekran boyutuna göre ayarla */
  background-position: center; /* Resmi ortala */
  background-repeat: no-repeat; /* Resmi tekrar etme */
  height: 100vh; /* Sayfanın tamamını kaplayacak şekilde ayarla */
  margin: 0;
  padding: 0;
}

.App {
    display: flex;
    flex-direction: column; /* Header ve içerik dikey olarak hizalanır */
}

